*{
  overflow-x: hidden;
}
.navbar {
  padding: 1rem;
}

.navbar-brand {
  padding: 0.5rem;
}

.navbar-nav {
  padding:0.2rem;
}

.nav-link {
  padding: 0.5rem;
}

.custom-container {
  background-color:black; /* or any other color */
}


.heading h1{
  font-weight:600
}

 .img{
height:500px;
}

.about h1{
font-weight: 600;
}

.watch{
  background-color: black;
}
.watch h2{
  font-weight: 600;
}
.watch h4{
  letter-spacing: 3px;
}
.btn-outline-transparent {
  color:red;
}


.col1{
  background-color: gold;
  padding: 20px;

 
}

.col2,.col4,.col6{
  background-color: black;
}

.col3 h3{
letter-spacing: 5px;
font-weight: 600;
}

